.App {
  height: 100%;
  padding: 10px;
  background-image: url("./spotify-bg.png");
  background-position: cover;
  background-repeat: repeat;
}
.loginMenu{
  height: 100%;
  background-image: url("./spotify-bg.png");
  background-position: repeat;
  
}
.radarChart{
  position: absolute;
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px;
}

.loginLogo {
  width:450px;
  height:200px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.loginBtn {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.tooltip {
  position: absolute;
  transform: translate(-50%, -150%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}