.App {
  height: 100%;
  padding: 10px;
  background-image: url("./spotify-bg.png");
  background-position: cover;
}
.loginMenu{
  height: 100%;
  background-image: url("./spotify-bg.png");
  background-position: cover;
}

.loginLogo {
  width:450px;
  height:200px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.loginBtn {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* .logoutBtn{
  left:92.5%;
  top:-80%;
  margin:10px;
} */

.Card {
  width: 300px;
  margin: 40px;
}

.CardMedia {
  width: 300px;
  height: 300px;
}

.grow {
  flex-grow: 1;
}
